// <div class="paragraph_col">
//     <div class="paragraph_col__head">
//         <p class="paragraph_col__title">
//             Оздоровлення та активна <br>
//             <span class="paragraph_col__title_span paragraph_col__title_span--color">
//                 життєва позиція
//             </span>
//         </p>
//     </div>
//     <div class="paragraph_col__description">
//         <ul class="paragraph_col__list">
//             <li class="paragraph_col__item">
//                 <p class="paragraph_col__text">
//                     Франчайзингова мережа магазинів «Світ Саун» є активним прихильником здорового способу життя. Саме тому вона стала ініціатором створення громадської організації під назвою «Асоціація Федерація сауною спорту України». З її допомогою в Україні проводяться змагання з саунному спорту, активно готується українська команда для участі в престижному світовому чемпіонаті по саунному спорту в Фінляндії. Не раз уже наша команда брала участь в цьому щорічному чемпіонаті в фінському місті Хейнола, успішно виступаючи і завойовуючи призові місця.
//                 </p>
//             </li>
//             <li class="paragraph_col__item">
//                 <p class="paragraph_col__text">
//                     Нове слово в популяризації здорового способу життя та сауни - це організація змагань в Україні, яких ніколи не було до того. Ініціатором їх створення був сам засновник компанії <span class="paragraph_col__text_span paragraph_col__text_span--color">Лев Бабич</span>. Ці змагання називаються екстрим-атлон і зазвичай проводяться разом з Федерацією загартовування і зимового плавання КМДА. Чи варто додавати, що кожен співробітник фірми - ревний прихильник сауни? Досягнення франчайзингової мережі магазинів «Світ Саун» за кордоном і в своїй вітчизні стає ще одним доказом того, які позитивні результати дає поєднання роботи і хобі.
//                 </p>
//             </li>
//         </ul>
//     </div>
// </div>

.paragraph_col {

    &__head {
        margin-bottom: 4.45%;
    }

    &__title {
        @include font(60px, 65px, "Montserrat-Medium");

        color: $white_0;

        &_span {

            &--color {
                color: $yellow_0;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 3rem 6.16%;
    }

    &__text {
        @include font(14px, 26px, "Montserrat-Regular");

        color: $gray_3;

        &_span {

            &--color {
                color: $yellow_0;
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .paragraph_col {

        &__head {
            margin-bottom: 30px;
        }

        &__title {
            font-size: 5rem;
            line-height: 5.83rem;
        }

        &__list {
            grid-gap: 35px;
        }

        &__text {
            font-size: 1.83rem;
            line-height: 3rem;
        }
    }
}