.construction {

    &__paragraph {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }
    }

    &__construction {
        padding: 0 $padding_x;
        margin-bottom: 7.5%;

        &_inner {
            @extend %center_block;

            padding-bottom: 7.5%;
            border-bottom: 1px solid $gray_2;
        }
    }

    &__conditions {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;

            display: flex;
            justify-content: space-between;
        }

        &_title {
            @include font(50px, 50px, 'Montserrat-Bold');

            width: 30.82%;
            color: $white_0;
        }

        &_subtitle {
            @include font(30px, 45px, "Montserrat-Regular");

            display: block;

            &--color {
                color: $yellow_0;
            }
        }

        &_description {
            @include font(14px, 26px, 'Montserrat-Regular');

            width: 64.38%;
            color: $gray_3;

            &_text {
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__advantages {
        padding: 0 $padding_x;

        &_inner {
            @extend %center_block;
            
            padding-bottom: 7.38%;
            border-bottom: 1px solid $gray_2;
        }

        &_title {
            @include font(50px, 50px, 'Montserrat-Bold');

            margin-bottom: 8.9%;
            color: $white_0;
        }

        &_subtitle {
            @include font(30px, 45px, 'Montserrat-Regular');

            display: block;
            color: $white_0;

            &--color {
                color: $yellow_0;
            }
        }
    }

    &__photo {
        margin-bottom: 7.38%;
    }

    &__note {
        @include background(url("../img/construction/note/note_bg.png"), left, center, 50%);
        padding: 0 $padding_x;
        margin-bottom: 7.5%;

        &_inner {
            @extend %center_block;

            padding: 7.5% 0;
            border-bottom: 1px solid $gray_2;
        }

        &_paragraph {
            @include font(25px, 46px, 'Montserrat-Regular');

            margin-bottom: 45px;
            color: $white_0;
        }

        &_span {

            &--color {
                color: $yellow_0;
            }
        }

        &_hint {
            @include font(14px, 26px, 'Montserrat-Regular');

            color: $gray_3;
        }
    }

    &__form {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }
    }
}

// 0 - 1023
@include respond-to(tablet) {

    .construction {

        &__conditions {
            margin-bottom: 35px;

            &_inner {
                flex-direction: column;
            }

            &_title {
                width: 100%;
                margin-bottom: 35px;
            }

            &_description {
                width: 100%;

                &_text {
                    font-size: 1.83rem;
                    line-height: 3rem;
                }
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .construction {

        &__paragraph {
            margin-bottom: 35px;
        }

        &__construction {
            margin-bottom: 35px;

            &_inner {
                padding-bottom: 35px;

                .page_construction {

                    &__list {
                        display: block;
                    }

                    &__item {
                        width: 100%;
                        max-width: 450px;
                        margin: 0 auto 35px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &__photo {
                        padding-bottom: 56.9%;
                        margin-bottom: 30px;
                    }

                    &__description {
                        padding: 12px 15px;
                    }

                    &__category {
                        display: none;
                    }

                    &__title {
                        margin-bottom: 10px;
                        font-size: 2.67rem;
                        line-height: 3rem;
                    }
                }
            }
        }

        &__photo {
            margin-bottom: 45px;
        }

        &__advantages {

            &_inner {
                padding-bottom: 45px;
            }

            &_title {
                margin-bottom: 50px;
            }
        }

        &__note {
            margin-bottom: 45px;
            background-image: none;

            &_inner {
                padding-bottom: 45px;
            }

            &_hint {
                font-size: 1.83rem;
                line-height: 3rem;
            }
        }

        &__form {
            margin-bottom: 45px;
        }
    }
}