.construction {

    &__paragraph {
        margin-bottom: 7.38%;

        &_inner {
            padding: 0 $padding_x;
        }
    }

    &__construction {
        padding: 0 $padding_x;
        margin-bottom: 7.5%;

        &_inner {
            @extend %center_block;

            padding-bottom: 7.5%;
            border-bottom: 1px solid $gray_2;
        }
    }

    &__conditions {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            display: flex;
            justify-content: space-between;
            max-width: 1460px;
            margin: 0 auto;
        }

        &_title {
            @include font(50px, 50px, 'Montserrat-Bold');

            width: 30.82%;
            color: $white_0;
        }

        &_subtitle {
            @include font(30px, 45px, "Montserrat-Regular");

            display: block;

            &--color {
                color: $yellow_0;
            }
        }

        &_description {
            @include font(14px, 26px, 'Montserrat-Regular');

            width: 64.38%;
            color: $gray_3;

            &_text {
                margin-bottom: 26px;
            }
        }
    }

    &__advantages {
        padding: 0 $padding_x;

        &_inner {
            @extend %center_block;
            
            padding-bottom: 7.38%;
            border-bottom: 1px solid $gray_2;
        }

        &_title {
            @include font(50px, 50px, 'Montserrat-Bold');

            margin-bottom: 8.9%;
            color: $white_0;
        }

        &_subtitle {
            @include font(30px, 45px, 'Montserrat-Regular');

            display: block;
            color: $white_0;

            &--color {
                color: $yellow_0;
            }
        }
    }

    &__photo {
        margin-bottom: 7.38%;
    }

    &__note {
        @include background(url("../img/construction/note/note_bg.png"), left, center, 50%);
        padding: 0 $padding_x;
        margin-bottom: 7.5%;

        &_inner {
            @extend %center_block;

            padding: 7.5% 0;
            border-bottom: 1px solid $gray_2;
        }

        &_paragraph {
            @include font(25px, 46px, 'Montserrat-Regular');

            margin-bottom: 45px;
            color: $white_0;
        }

        &_span {

            &--color {
                color: $yellow_0;
            }
        }

        &_hint {
            @include font(14px, 26px, 'Montserrat-Regular');

            color: $gray_3;
        }
    }

    &__form {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }
    }
}