%center_block {
	max-width: $site_width;
	width: calc(100% - 370px);
	margin: 0 auto;
}

%clearfix {
	&::after {
		content: "";
		display: block;
		width: 100%;
		clear: both;
	}
}


// 0 - 1279
@include respond-to(desktop) {

	%center_block {
		width: 100%;
		margin: 0 auto;
	}
}