@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.eot');
  src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg'),
       url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.ttf') format('truetype'),
       url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff') format('woff'),
       url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

