// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
// $desktop: 1280px;
$desktop: 1440px;
// SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1440px;
// COLOR
$white_0: #fff;

$black_0: #000;

$gray_0: #333;

$yellow_0: #F4C51F;