// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop_plus: 1440px;
// SIZE
$base_font_size: 10px;
$header_height: 90px;
// WIDTH
$site_width: 1460px;
$padding_x: 15px;
// COLOR
$white_0: #fff;

$black_0: #000;
$black_1: rgba(0, 0, 0, 0.8);
$black_2: #121212;

$gray_0: #333333;
$gray_1: #545454;
$gray_2: #353535;
$gray_3: #8F8F8F;
$gray_4: #222222;
$gray_5: #494949;
$gray_6: #636363;
$gray_7: #3A3A3A;
$gray_8: #0E0E0E;
$gray_9: #5A5A5A;
$gray_10: #1C1C1C;
$gray_11: #8B8B8B;

$yellow_0: #F4C51F;
$yellow_1: #C8A425;