.news {

    &__head {
        padding: 0 $padding_x;

        &_inner {
            display: flex;
            align-items: center;
            max-width: 1460px;
            padding-bottom: 5.56%;
            border-bottom: 1px solid $gray_0;
            margin: 0 auto 5.56%;
        }

        &_image {
            margin-right: 45px;
        }

        &_title_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
        }

        &_title {
            @include font(30px, 40px, "Montserrat-Regular");

            max-width: 610px;
            color: $white_0;

            &_span {

                &--color {
                    color: $yellow_0;
                }
            }
        }

        &_link {
            @include font(16px, 26px, "Montserrat-Bold");

            width: 260px;
            padding: 20px 0;
            background-color: $yellow_0;
            color: $black_0;
            text-align: center;
        }
    }

    &__paragraph {
        padding: 0 $padding_x;
        margin-bottom: 5.46%;

        &_inner {
            @extend %center_block;
        }
    }

    &__description {
        padding: 0 $padding_x;
        margin-bottom: 5.46%;

        &_inner {
            @extend %center_block;
        }

        &_title {
            @include font(30px, 40px, "Montserrat-Regular");

            margin-bottom: 5.82%;
            color: $white_0;
        }
    }
}