.service {

    &__inner {
        padding: 65px 15px;
    }

    &__paragraph {
        width: 100%;
        max-width: 1460px;
        margin: 0 auto;
        padding-bottom: 5%;
        border-bottom: 1px solid $gray_0;
        margin-bottom: 5%;
    }
}