.service {

    &__inner {
        padding: 0 15px 65px;
    }

    &__paragraph {
        padding: 0 $padding_x 5%;
        border-bottom: 1px solid $gray_0;
        margin-bottom: 5%;
    }

    &__form {
        padding: 0 $padding_x 7.38%;
    }
}