@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('HelveticaNowDisplay-Regular.eot');
  src: url('HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNowDisplay-Regular.svg#HelveticaNowDisplay-Regular') format('svg'),
       url('HelveticaNowDisplay-Regular.ttf') format('truetype'),
       url('HelveticaNowDisplay-Regular.woff') format('woff'),
       url('HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

