.projects {

    &__paragraph {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }

        &_text {
            @include font(14px, 26px, "Montserrat-Regular");

            color: $white_0;
            
            &--color {
                color: $yellow_0;
            }

            &--s {
                width: 28.77%;
            }

            &--m {
                width: 64.04%;
            }
        }
    }

    &__construction {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }
    }

    &__photo {
        margin-bottom: 7.38%;
    }

    &__form {
        padding: 0 $padding_x;
        margin-bottom: 7.38%;

        &_inner {
            @extend %center_block;
        }
    }
}