.portfolio {

    &__head {
        padding: 65px $padding_x 0;
        margin-bottom: 7.1%;

        &_inner {
            @extend %center_block;
        }

        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1460px;
            margin: 0 auto;
        }
    }

    &__title {
        @include font(60px, 65px, "Montserrat-Bold");

        margin-right: 15px;
        color: $white_0;
    }

    &__gallery {
        padding: 0 $padding_x;
        margin-bottom: 7.1%;

        &_list {
            @extend %center_block;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
        }

        &_link {
            position: relative;
            display: block;
            height: 100%;
        }

        &_title {
            @include font(14px, 14px, "Montserrat-Bold");
    
            position: absolute;
            top: 0;
            left: 0;
            padding: 7px;
            background-color: $white_0;
            color: $black_0;
            text-align: center;

            &--color {
                background-color: $yellow_0;
            }
        }

        &_photo {
            height: 100%;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// 0 - 1023
@include respond-to(tablet) {

    .portfolio {

        &__title {
            font-size: 5rem;
            line-height: 5.5rem;
        }

        &__select_wrap {
            font-size: 5rem;
            line-height: 5.5rem;
        }

        &__gallery {

            &_list {
                grid-gap: 30px;
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .portfolio {

        &__head {
            padding-top: 15px;
            margin-bottom: 70px;

            &_title {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__title {
            font-size: 3.67rem;
            line-height: 5.33rem;
        }

        &__select_wrap {
            font-size: 3.67rem;
            line-height: 5.33rem;
        }

        &__gallery {
            margin-bottom: 15px;

            &_list {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-gap: 15px;
            }
        }
    }
}