.contacts {
    display: flex;

    &__left {
        width: 55%;
        padding: 65px $padding_x;

        &_inner {
            max-width: 600px;
            margin: 0 auto;
            margin-left: 170px;
        }
    }

    &__header {
        margin-bottom: 16.67%;

        &_bottom {
            display: flex;
            flex-direction: column;
        }

        &_title {
            @include font(60px, 90px, "Montserrat-Bold");

            color: $white_0;
        }
    }

    &__paragraph {

        &_list {
            margin-bottom: 20%;
        }

        &_item {
            padding: 30px;
            border: 1px solid $gray_0;
            margin-bottom: 10%;
        }

        &_title {
            @include font(14px, 24px, "Montserrat-Bold");

            margin-bottom: 15px;
            color: $yellow_0;
        }

        &_description {
            @include font(14px, 24px, "Montserrat-Regular");

            margin-bottom: 15px;
            color: $white_0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_link {
            @include font(14px, 24px, "Montserrat-Regular");

            color: $white_0;
        }
    }

    &__form {

        .form {
            width: 100%;

            &__input {
                margin-bottom: 20px;
            }
        }
    }

    &__right {
        position: relative;
        width: 45%;

        &_map {
            position: sticky;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            filter: grayscale(1);
        }
    }
}

// 0 - 1279
@include respond-to(desktop) {

    .contacts {

        &__left {

            &_inner{
                max-width: none;
                margin-left: 0;
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .contacts {

        &__left {
            width: 100%;
        }

        &__right {
            display: none;
        }
    }
}