.page_description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;

    &__paragraph {
        @include font(14px, 26px, "Montserrat-Regular");

        color: $gray_3;

        &--color {
            color: $yellow_0;
        }

        &--s {
            width: 28.77%;
        }

        &--m {
            width: 64.04%;
        }
    }
}