// <div class="page_description">
//     <p class="page_description__paragraph page_description__paragraph--color page_description__paragraph--s">
//         Новий напрямок в роботі фірми "ПАЛ" - франчайзингової мережі магазинів "Світ саун" - це власне виробництво дверей для саун, дров'яних кам'янок, щитових інфрачервоних кабін, соляних кімнат, вагонки, бруса і банних аксесуарів.
//     </p>
//     <p class="page_description__paragraph page_description__paragraph--m">
//         У нашому цеху проводиться все, що необхідно для отримання істинного банного задоволення. Багато аксесуари - решітки вентиляційні і засувки, огородження для світильників, усілякі подспинники і підголовники з деревини досить незвичайної форми, а також табуретки, лавки, відра дерев'яні, зграї, лійки та інші необхідні дрібниці - придумані самими виробниками. Ці вироби цілком можна назвати творами мистецтва. Зручність, естетика, бездоганна функціональність - ось чим керуються наші розробники і виконавці.
//     </p>
// </div>

.page_description {
    display: flex;
    justify-content: space-between;

    &__paragraph {
        @include font(14px, 26px, "Montserrat-Regular");

        color: $gray_3;

        &--color {
            color: $yellow_0;
        }

        &--s {
            width: 28.77%;
        }

        &--m {
            width: 64.04%;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .page_description {
        flex-direction: column;

        &__paragraph {
            width: 100%;
            margin-bottom: 35px;
            font-size: 1.83rem;
            line-height: 3rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}