.breadcrumb {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto 45px;

    &__list {
        display: flex;
    }

    &__item {
        @include font(14px, 20px, "Montserrat-Regular");

        display: flex;
        color: $gray_11;

        & + .breadcrumb__item {

            &:before {
                content: "/\00a0";
                padding: 0 7px;
                color: $gray_1;
            }
        }
    }

    &__link {
        @include font(14px, 20px, "Montserrat-Regular");

        color: $gray_1;
    }
}