@font-face {
  font-family: 'HelveticaNowDisplay-Medium';
  src: url('HelveticaNowDisplay-Medium.eot');
  src: url('HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNowDisplay-Medium.svg#HelveticaNowDisplay-Medium') format('svg'),
       url('HelveticaNowDisplay-Medium.ttf') format('truetype'),
       url('HelveticaNowDisplay-Medium.woff') format('woff'),
       url('HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

