// <div class="form__wrap">
//     <p class="form__title">
//         <span class="form__title_span form__title_span--color">
//             Для замовлення сервісного обслуговування
//         </span>
//         Залиште свої <br>
//         контактні дані!
//     </p>
//     <form action="" method="POST" class="form" id="communication" name="communication">
//         <input class="form__input form__input--name" type="text" name="name" id="name" placeholder="Ім'я*" required>
//         <input class="form__input form__input--phone" type="tel" name="phone" id="phone" placeholder="Телефон*" required>
//         <input class="form__input form__input--email" type="email" name="email" id="email" placeholder="Email">
//         <input class="form__input form__input--message" type="text" name="message" id="message" placeholder="Хочете щось запитати?">
//         <button class="form__button" type="submit">
//             Замовити
//         </button>
//     </form>
// </div>

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43.15%;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include font(50px, 50px, 'Montserrat-Medium');

        width: 44.52%;
        color: $white_0;

        &_span {
            display: block;

            &--color {
                color: $yellow_0;
            }
        }
    }

    &__input {
        @include font(14px, 32px, 'Montserrat-Regular');

        padding: 0;
        border: 0;
        border-bottom: 1px solid $gray_6;
        background-color: transparent;
        color: $yellow_0;
        transition: 0.2s;

        &:hover {
            border-bottom: 1px solid $yellow_0;
        }

        &::placeholder {
            color: $gray_6;
        }

        &:focus {
            border-bottom: 1px solid $yellow_0;

            &::placeholder {
                color: transparent;
            }
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $yellow_0;
            box-shadow: 0 0 0px 1000px $black_0 inset;
        }
    }

    &__button {
        @include font(16px, 32px, 'Montserrat-Bold');

        align-self: flex-start;
        padding: 0;
        border: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid $yellow_0;
        background-color: transparent;
        color: $yellow_0;
        cursor: pointer;
        transition: 0.2s;

        &:hover,
        &:focus {
            border: 1px solid $yellow_0;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .form {
        width: 100%;

        &__wrap {
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        &__title {
            width: 100%;
            margin-bottom: 30px;
            line-height: 5.83rem;
        }

        &__form {
            width: 100%;
        }

        &__input {
            margin-bottom: 15px;
            font-size: 1.8rem;
        }
    }
}