.footer {
    // grid-area: footer;
    background-color: $gray_8;
    width: calc(100% - 90px);
    margin-left: auto;

    &__inner {
        width: calc(100% - 370px);
        margin: 0 auto;
    }

    &__top {
        padding: 4.11% 0;

        &_list {
            display: flex;
            justify-content: space-between;
        }

        &_item {
            padding-right: 10px;

            &:last-child {
                padding-right: 0;
            }
        }

        &_title {
            @include font(14px, 14px, 'Montserrat-Bold');

            margin-bottom: 30px;
            color: $gray_11;
        }

        &_decription {

            &_item {
                @include font(14px, 26px, 'Montserrat-Regular');

                color: $gray_5;
            }

            &_link {
                @include font(14px, 26px, 'Montserrat-Regular');

                display: inline-block;
                color: $gray_5;
                transition: 0.2s;

                &:hover {
                    color: $yellow_0;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 0;
        border-top: 1px solid $gray_10;

        &_logo {
            width: 6.17%;

            &:hover {

                .footer__bottom_logo_flame {
                    fill: orange;
                }
            }

            &_svg {
                fill: $gray_0;
            }

            &_flame {
                transition: 0.2s;
            }
        }

        &_copyright {
            @include font(14px, 14px, 'Montserrat-Regular');

            color: $gray_0;
        }

        &_mango {
            width: 5.48%;

            &_link {

                &:hover {

                    .footer__bottom_mango_svg {
                        fill: #673AB7;
                    }
                }
            }

            &_svg {
                fill: $gray_0;
                transition: 0.2s;
            }
        }
    }
}

// 0 - 1439
@include respond-to(desktop_plus) {

    .footer {
        width: calc(100% - 70px);
    }
}

// 0 - 1279
@include respond-to(desktop) {

    .footer {

        &__inner {
            width: 100%;
            padding: 0 $padding_x;
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .footer {
        width: 100%;

        &__top {

            &_list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
                grid-gap: 20px;
            }

            &_title {
                margin-bottom: 20px;
            }
        }
    }
}
