.page_head {
    width: 100%;
    padding: 3.55% $padding_x;

    &--bg_img {
        min-height: 325px;
        margin-bottom: 7.38%;
    }

    &__title {
        @include font(60px, 65px, "Montserrat-Bold");

        width: 100%;
        max-width: 1460px;
        margin: 0 auto;
        color: $white_0;
    }
}